Source: ros-groovy-srdfdom
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin,ros-groovy-urdfdom-headers,ros-groovy-console-bridge,libtinyxml-dev,libboost1.46-all-dev,pkg-config
Homepage: http://ros.org/wiki/srdf
Standards-Version: 3.9.2

Package: ros-groovy-srdfdom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev,ros-groovy-urdfdom-headers,libtinyxml-dev,ros-groovy-console-bridge
Description: Parser for Semantic Robot Description Format (SRDF).
