Source: ros-kinetic-srdfdom
Section: misc
Priority: extra
Maintainer: Dave Coleman <dave@dav.ee>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libconsole-bridge-dev, libtinyxml-dev, liburdfdom-headers-dev, ros-kinetic-catkin, ros-kinetic-cmake-modules, ros-kinetic-rostest, ros-kinetic-urdf, ros-kinetic-urdfdom-py
Homepage: http://ros.org/wiki/srdfdom
Standards-Version: 3.9.2

Package: ros-kinetic-srdfdom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libconsole-bridge-dev, libtinyxml-dev, liburdfdom-headers-dev, ros-kinetic-urdfdom-py
Description: Parser for Semantic Robot Description Format (SRDF).
